
  * {
    box-sizing: border-box;
  }

  html,
  body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
  }

  #app {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
  }


  .clearAble::after{
    // 伪元素必须设置content,使用content才会起效果
    content: '';
    // 伪元素默认是行内快元素，要设置为块元素才有效果
    display: block;
    clear: both;
  }


/* fade 模式 name="fade" mode="out-in" */
.fade-enter-active,
.fade-leave-active {
  transition: opacity 0.3s;
}

.fade-enter-from,
.fade-leave-to {
  opacity: 0;
}
